
/*      GENERALES    */

*,*::after, *::before {
    margin: 0;
    padding: 0;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
    
    line-height: 1.5;
    letter-spacing: 1px
}

body {
    font-size: 1.6rem;
    background-color: hsl(240, 75%, 98%);

}
img {
    width: 100%;
}

/*      CONTENIDO    */

.contenedor {
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
    font-family:'Raleway', sans-serif;;
}
.navegacion {
    display: flex;
    margin: 2rem 0;
    align-items: center;
    justify-content: space-between;
}
.icono {
    flex: 2;
}
.icono img {
    width: 10rem;
}
.lista {
    flex: 3;
    display: flex;
    justify-content: space-around;
}
.lista a{
    text-decoration: none;
    font-size: 1.5rem;
}

.imagen {
    margin: 2rem 0 4rem 0 ;
}

.registro {
    text-align: center;
}

.descripcion h1 {
    font-size: 3.2rem;
    margin-bottom: 2rem;
    line-height: 1.2;
}
.descripcion p {
    font-size: 1.6rem;
    margin-bottom: 2rem;
}

.input{
    display: flex;
    flex-direction: column;
}


.input input{
    padding: 1rem;
}

.input a{
    background-color: hsl(224, 93%, 58%);
    padding: 1rem;
    margin: 1rem 0;
    border-radius: 4px;
    color: #fff;
    text-decoration: none;
    font-weight: 700;
}

.descripcion-info span{
    display: block;
    font-weight: 700;
    text-align: center;
    margin-bottom: 2rem;
}

.descripcion-info p{
    letter-spacing: 1px;
    margin-bottom: 2rem;
}

.ver-fylo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem 0 4rem 0;
    
}
.ver-fylo a {
    text-decoration: none;
    color: hsl(170, 45%, 43%);
    padding-bottom: .5rem;
    border-bottom: 1px solid hsl(170, 45%, 43%);
}
.ver-fylo img {
    width: 23px;
    margin-left: .5rem;
}
.testimonial {
    padding: 2rem 4rem;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 20px 0 hsl(171, 23%, 88%);
    margin-bottom: 4rem;
    
   font-size: 1.3rem;
}
.parrafo img{
    width: 20px;
}
.parrafo p{
   margin-bottom: 1rem;
   line-height: 1.5;
}
.perfil {
    display: flex;
}
.perfil img {
    width: 35px;
    height: 35px;
    border-radius: 50%;
}
.perfil p {
    margin-left: 1rem;
    font-size: 1.1rem;
}
.perfil span {
    font-weight: bold;
    display: block;
    font-size: 1.3rem;
    margin-bottom: .5rem;
}

.acceso {
    background-color: hsl(238, 22%, 44%);
    padding: 4rem 2rem;
    color: #fff;
    text-align: center;
}

.acceso h2{
    margin-bottom: 2rem;
    font-size: 2.5rem;
}
.acceso p{
    margin-bottom: 2rem;;
}
.input-acceso {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.input-acceso input{
    width: 70%;
    padding: 1rem;
}
.input-acceso a{
    width: 70%;
    padding: 1rem;
    color: #fff;
    text-decoration: none;
    background-color: hsl(224, 93%, 58%);
    margin-top: 1rem;
    font-weight: 700;
    text-align: center;
}
.contacto {
    background-color: hsl(243, 87%, 12%);
    color: #fff;
    padding: 4rem 2rem;
}

.contacto img{
    width: 166px;
}
.telefono, .correo {
    display: flex;
    margin-top: 2rem;
}
.contactos img {
    width: 20px;
    height: 18px;
    margin-right: 1rem;
}
.enlaces-1, .enlaces-2 {
    margin-top: 4rem;
}
.enlaces-1 a, .enlaces-2 a{
    text-decoration: none;
    color: #fff;
    display: block;
    margin-bottom: 1rem;
}
/*
.ver-fylo a::after {
    content: url(../../img/icon-arrow.svg);
    margin-left: .5rem;
}
*/